In [1]:
import pandas as pd
import os

### Bai 1

In [3]:
df = pd.read_excel('province.xlsx')
provinces_and_cities = df['Name']

provinces_and_cities

print('List of provinces and cities: ',end='')
for i in provinces_and_cities:
    print(i,end=', ')

List of provinces and cities: Thành phố Hà Nội, Tỉnh Hà Giang, Tỉnh Cao Bằng, Tỉnh Bắc Kạn, Tỉnh Tuyên Quang, Tỉnh Lào Cai, Tỉnh Điện Biên, Tỉnh Lai Châu, Tỉnh Sơn La, Tỉnh Yên Bái, Tỉnh Hoà Bình, Tỉnh Thái Nguyên, Tỉnh Lạng Sơn, Tỉnh Quảng Ninh, Tỉnh Bắc Giang, Tỉnh Phú Thọ, Tỉnh Vĩnh Phúc, Tỉnh Bắc Ninh, Tỉnh Hải Dương, Thành phố Hải Phòng, Tỉnh Hưng Yên, Tỉnh Thái Bình, Tỉnh Hà Nam, Tỉnh Nam Định, Tỉnh Ninh Bình, Tỉnh Thanh Hóa, Tỉnh Nghệ An, Tỉnh Hà Tĩnh, Tỉnh Quảng Bình, Tỉnh Quảng Trị, Tỉnh Thừa Thiên Huế, Thành phố Đà Nẵng, Tỉnh Quảng Nam, Tỉnh Quảng Ngãi, Tỉnh Bình Định, Tỉnh Phú Yên, Tỉnh Khánh Hòa, Tỉnh Ninh Thuận, Tỉnh Bình Thuận, Tỉnh Kon Tum, Tỉnh Gia Lai, Tỉnh Đắk Lắk, Tỉnh Đắk Nông, Tỉnh Lâm Đồng, Tỉnh Bình Phước, Tỉnh Tây Ninh, Tỉnh Bình Dương, Tỉnh Đồng Nai, Tỉnh Bà Rịa - Vũng Tàu, Thành phố Hồ Chí Minh, Tỉnh Long An, Tỉnh Tiền Giang, Tỉnh Bến Tre, Tỉnh Trà Vinh, Tỉnh Vĩnh Long, Tỉnh Đồng Tháp, Tỉnh An Giang, Tỉnh Kiên Giang, Thành phố Cần Thơ, Tỉnh Hậu Giang, Tỉnh Sóc Trăng, Tỉnh Bạc Liêu, Tỉnh Cà Mau,

### Bai 2

In [4]:
bai2 = df.loc[:,['Name','Region']]
bai2

                 Name                   Region
0    Thành phố Hà Nội      Đồng bằng sông Hồng
1       Tỉnh Hà Giang              Đông Bắc Bộ
2       Tỉnh Cao Bằng              Đông Bắc Bộ
3        Tỉnh Bắc Kạn              Đông Bắc Bộ
4    Tỉnh Tuyên Quang              Đông Bắc Bộ
..                ...                      ...
58  Thành phố Cần Thơ  Đồng bằng sông Cửu Long
59     Tỉnh Hậu Giang  Đồng bằng sông Cửu Long
60     Tỉnh Sóc Trăng  Đồng bằng sông Cửu Long
61      Tỉnh Bạc Liêu  Đồng bằng sông Cửu Long
62        Tỉnh Cà Mau  Đồng bằng sông Cửu Long

[63 rows x 2 columns]

### Bai 3

In [92]:
print('Số vùng địa lý: ',len(pd.unique(df['Region'])))

df.value_counts('Region')

Số vùng địa lý:  8

Region
Đồng bằng sông Cửu Long    13
Đồng bằng sông Hồng        10
Đông Bắc Bộ                 9
Nam Trung Bộ                8
Bắc Trung Bộ                6
Tây Bắc Bộ                  6
Đông Nam Bộ                 6
Tây Nguyên                  5
dtype: int64

### Bai 4

In [91]:
Bai4 = df.loc[:, ['Name', 'Population']].sort_values(by='Population')

Bai4.iloc[[-1, 1]]

                     Name  Population
49  Thành phố Hồ Chí Minh      9038.6
7           Tỉnh Lai Châu       462.6

### Bai 5

In [81]:
total = df['Area'].sum()

Bai5 = df.loc[:, ['Region', 'Area']].groupby('Region', as_index=False).sum('Area')
Bai5['Area Proportion(%)'] = Bai5['Area']/total*100
Bai5.rename(columns = {'Area':'Total Area(km2)'}, inplace = True)

Bai5

                    Region  Total Area(km2)  Area Proportion(%)
0             Bắc Trung Bộ          51110.8           15.443392
1             Nam Trung Bộ          44542.0           13.458595
2               Tây Bắc Bộ          50575.7           15.281708
3               Tây Nguyên          54508.3           16.469964
4              Đông Bắc Bộ          50802.8           15.350328
5              Đông Nam Bộ          23518.7            7.106296
6  Đồng bằng sông Cửu Long          40816.4           12.332886
7      Đồng bằng sông Hồng          15081.1            4.556832