# Bài 9: Giới thiệu thư viện Pandas

## DataFrame & Series

In [4]:
import pandas as pd

### DataFrame

In [25]:
# using dictionary
students_1 = pd.DataFrame({
    'name':   ['Viet Anh', 'Tuan', 'Quan'],
    'gender': ['male'    , 'male', 'male'],
    'on camera': ['Yes'  , 'No'  , 'Yes']
})

students_1

       name gender on camera
0  Viet Anh   male       Yes
1      Tuan   male        No
2      Quan   male       Yes

In [35]:
# objects
# pd.DataFrame( [data], [columns=], [index=] )
student_2 = pd.DataFrame(
    [
        ['Viet Anh', 'male', 'Yes', 10],
        ['Tuan'    , 'male', 'No', 11],
        ['Quan'    , 'male', 'Yes', 40.3]
    ],
    columns=['name', 'gender', 'on camera', 'score'],
    index=['student 1', 'student 2', 'student 3']
)

student_2

               name gender on camera  score
student 1  Viet Anh   male       Yes   10.0
student 2      Tuan   male        No   11.0
student 3      Quan   male       Yes   40.3

In [43]:
# Meta data
student_2.dtypes
student_2.info()

# query
# student_2.head()
# student_2.tail()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, student 1 to student 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3 non-null      object
 1   gender     3 non-null      object
 2   on camera  3 non-null      object
 3   score      3 non-null      float64
dtypes: float64(1), object(3)
memory usage: 120.0+ bytes

### Series

In [29]:
student_series = pd.Series(['Viet Anh', 'Quan', 'Tuan'], index=['student 1', 'student 2', 'student 3'])

student_series

student 1    Viet Anh
student 2        Quan
student 3        Tuan
dtype: object

## Import & Export

In [52]:
# export
students_1.to_excel('student.xlsx')
students_1.to_csv('student.csv')

# import
import_file = pd.read_csv('student.csv', index_col=0)
import_file

       name gender on camera
1  Viet Anh   male       Yes
2      Tuan   male        No
3      Quan   male       Yes